.pf-profile1 {
  width: 100%;
  background-color: white;
  font-family: "Open Sans";
  padding: 0px 100px;
  margin-top: 30px;
  margin-bottom: 100px; }
  @media screen and (max-width: 767px) {
    .pf-profile1 {
      text-align: center; } }
  .pf-profile1 .pf-profile1__title {
    color: #24BFA3;
    font-weight: 600;
    font-size: 1.5rem; }
  .pf-profile1 .pf-profile1__subtitle {
    font-size: 3.5rem;
    color: #2E5056;
    font-weight: 600; }
  .pf-profile1 .pf-profile1__container {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    gap: 100px;
    margin-top: 30px; }
    @media screen and (max-width: 767px) {
      .pf-profile1 .pf-profile1__container {
        gap: 50px;
        flex-direction: column; } }
    .pf-profile1 .pf-profile1__container .pf-container__img {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .pf-profile1 .pf-profile1__container .pf-container__img > img {
        max-width: 277px;
        min-height: 277px;
        margin-bottom: 15px; }
      .pf-profile1 .pf-profile1__container .pf-container__img > div input[type="file"] {
        cursor: pointer;
        opacity: 1;
        z-index: 10; }
    .pf-profile1 .pf-profile1__container .pf-container__data {
      width: 100%;
      padding-right: 200px;
      flex: 4; }
      @media screen and (max-width: 1024px) {
        .pf-profile1 .pf-profile1__container .pf-container__data {
          padding-right: 100px; } }
      @media screen and (max-width: 767px) {
        .pf-profile1 .pf-profile1__container .pf-container__data {
          padding: 0px 10px; } }
      .pf-profile1 .pf-profile1__container .pf-container__data .pf-data__title {
        font-size: 2rem;
        color: #2E5056;
        font-weight: 600;
        margin-bottom: 30px;
        position: relative; }
        .pf-profile1 .pf-profile1__container .pf-container__data .pf-data__title::after {
          position: absolute;
          width: 100%;
          content: "";
          height: 1px;
          background-color: #D4D4D4;
          bottom: -10px;
          left: 0; }
      .pf-profile1 .pf-profile1__container .pf-container__data .pf-data__form .form-row {
        justify-content: flex-end; }
        @media screen and (max-width: 767px) {
          .pf-profile1 .pf-profile1__container .pf-container__data .pf-data__form .form-row {
            justify-content: center; } }
      .pf-profile1 .pf-profile1__container .pf-container__data .pf-data__form .form-group > label {
        font-size: 1.5rem;
        color: #24BFA3;
        font-weight: 600; }
      .pf-profile1 .pf-profile1__container .pf-container__data .pf-data__form .form-group > input {
        border: none;
        background-color: #F5F5F5;
        font-size: 1.3rem;
        padding: 8px;
        min-height: 40px; }
        .pf-profile1 .pf-profile1__container .pf-container__data .pf-data__form .form-group > input:focus {
          box-shadow: none; }
      .pf-profile1 .pf-profile1__container .pf-container__data .pf-data__form .form-group > textarea {
        background-color: #F5F5F5;
        font-size: 1.3rem;
        padding: 8px;
        min-height: 40px;
        border: none;
        outline: none; }
      .pf-profile1 .pf-profile1__container .pf-container__data .pf-data__form .pf-form__submit {
        color: #f2f2f2;
        background-color: #24BFA3;
        font-size: 1.5rem;
        font-weight: 600;
        border: none;
        outline: none;
        padding: 8px 15px;
        margin-top: 30px;
        cursor: pointer; }
        .pf-profile1 .pf-profile1__container .pf-container__data .pf-data__form .pf-form__submit:hover {
          background-color: #2E5056; }
