.pf-header {
  width: 100%;
  background-image: url("../../../Img/common/header.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans"; }
  .pf-header .pf-header__info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px; }
    .pf-header .pf-header__info .pf-info__title {
      color: #2E5056;
      font-size: 4rem;
      font-weight: bold; }
    .pf-header .pf-header__info .pf-button-primary {
      padding: 15px 45px; }
  .pf-header .pf-header__img > img {
    width: 514px;
    height: 622px; }
