@import "../../../_scss/variables/variables";

.pf-header {
  width: 100%;
  background-image: url("../../../Img/common/header.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";

  .pf-header__info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    .pf-info__title {
      color: $pf-color-primary;
      font-size: 4rem;
      font-weight: bold;
    }

    .pf-button-primary{
      padding: 15px 45px;
    }
  }

  .pf-header__img {
    > img {
      width: 514px;
      height: 622px;
    }
  }
}
