

<header class="pf-header">

    <div class="pf-header__info">
        <h1 class="pf-info__title">Hacemos la vida más facil a todos.</h1>

        {% include "../button-primary/button-primary.twig" with {
            text: "Únete ya",
            fill: true
        }%}
    </div>

    <div class="pf-header__img">
        <img src="../../../assets/Img/common/portada.png" alt="Imagen cabecera hombre sosteniendo un hamburguesa" />
    </div>

</header>