
<section class="pf-carrito">


    <h2 class="pf-carrito__title">Carrito</h2>

    {% if log %}
        {% if content %}
            <div class="pf-carrito__container">
                <div class="pf-container__productos">
                    <div class="pf-productos__item">
                        <img src="../../../assets/Img/dynamic/mcextreme.png" alt=""/>
                        <div class="pf-item__data">
                            <p>Grand McExtreme 1995</p>
                            <p>10.00 $</p>
                            <p>2 unidades</p>
                            <p>Mc Donald's</p>
                        </div>  
                        <a href="#">ELIMINAR</a>
                    </div>

                    <div class="pf-productos__item">
                        <img src="../../../assets/Img/dynamic/mcextreme.png" alt=""/>
                        <div class="pf-item__data">
                            <p>Grand McExtreme 1995</p>
                            <p>10.00 $</p>
                            <p>2 unidades</p>
                            <p>Mc Donald's</p>
                        </div>  
                        <a href="#">ELIMINAR</a>
                    </div>
                    <div class="pf-productos__item">
                        <img src="../../../assets/Img/dynamic/mcextreme.png" alt=""/>
                        <div class="pf-item__data">
                            <p>Grand McExtreme 1995</p>
                            <p>10.00 $</p>
                            <p>2 unidades</p>
                            <p>Mc Donald's</p>
                        </div>  
                        <a href="#">ELIMINAR</a>
                    </div>
                </div>

                <div class="pf-container__total">
                    <h3 class="pf-total__title"> Subtotal (6 productos)</h3>

                    <p class="pf-total__valor">60.00 $</p>

                    <div class="pf-total__promocional">
                        <form action="">
                            <label>Código promocional</label>
                            <div class="form-row">
                                <input class="col-9" type="text" name="promocional">
                                <input class="col-3" type="submit" value="Usar">
                            </div>
                        </form>
                    </div>

                    {% include "../button-primary/button-primary.twig" with {
                        text: "Tramitar pedido",
                        fill: true
                    }%}

                    {% include "../button-primary/button-primary.twig" with {
                        text: "Seguir comprando",
                        fill: false
                    }%}
                </div>
            </div>
        {% else %}

          <div class="pf-carrito__container--nocontent">
            <p>Actualmente el carrito se encuentra vacío.</p>
            <a href="#">¡Añade ya un producto!</a>
          </div>

        {% endif %}
    {% else %}
        <div class="pf-carrito__container--nocontent">
            <p>Primero debes iniciar sesión para poder utilizar el carrito</p>
            <a href="#">Volver al inicio</a>
        </div>
    {% endif %}

</section> 