<!DOCTYPE html>
<html lang="es">
{% set webTitle = "Web" %}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta charset="utf-8" />
    <meta name="application-name" content="{{webTitle}}" />
    <title>{{webTitle}}</title>
    <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="./../../assets/Script/ie11CustomProperties.js"><\x2fscript>');</script>
    <link rel="stylesheet" href="../../assets/Script/owl-carousel-2.3.4/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/Script/owl-carousel-2.3.4/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../assets/Script/jquery-ui-1.12.1/jquery-ui.css" media="all">
    <link rel="stylesheet" href="../../assets/Script/jquerymodal/jquerymodal.css" media="all">
    <link rel="stylesheet" href="../../assets/CSS/bootstrap-4.1.3/bootstrap.css" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/CSS/fontawesome-5.9.0/fontawesome.all.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../../assets/CSS/themes/theme.css" media="all">
    <link rel="stylesheet" href="../../assets/CSS/stylesPC.css" media="all">



 

    <script src="../../assets/Script/jquery-ui-1.12.1/jquery.js"></script>
    <script src="../../assets/Script/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="../../assets/Script/jquerymodal/jquerymodal.js"></script>
    <script src="../../assets/Script/owl-carousel-2.3.4/owl.carousel.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../assets/Script/scriptPC.js"></script> 

</head>

<body>

    {% block page %}{% endblock %}



</body>

</html>