@import "../../../_scss/variables/variables";

.pf-pedidos {
  width: 100%;
  font-family: "Open Sans";
  padding: 0px 100px;

  @media screen and (max-width: 1024px) {
    text-align: center;

    .pf-item__data {
      width: 100%;

      .pf-data__row {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding: 0px 20px;
  }

  .pf-pedidos__title {
    font-size: 3.5rem;
    color: $pf-color-terciary;
    font-weight: $pf-semibold;

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }
  }

  .pf-pedidos__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    > span {
      color: $pf-color-terciary;
      font-size: 1.4rem;
      align-self: flex-end;
      cursor: pointer;
    }

    .pf-container__item {
      width: 100%;
      background-color: $pf-color-light-gray;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 17px 25px;
      color: $pf-color-secondary;
      font-size: 1.4rem;

      .pf-item__data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 15px;

        .pf-data__row {
          min-width: 500px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            min-width: 0;
            width: 100%;

            &.state {
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;
            }
          }

          .pf-row__productos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            > div {
              display: flex;
              gap: 20px;
            }
          }
          &:last-child {
            align-items: flex-start;
          }

          > span {
            font-weight: $pf-semibold;
          }
        }
      }

      .pf-item__importe {
        align-self: flex-end;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin-top: 30px;

        @media screen and (max-width: 767px) {
          flex-direction: column;
          align-self: center;
          gap: 10px;
        }
      }
    }

    &--empty {
      color: $pf-color-secondary;
      font-size: 1.4rem;
      margin-top: 20px;
    }
  }
}
