@import "../../../_scss/variables/variables";

.pf-info4 {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0px 100px;
  background-image: url("../../../Img/common/header.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans";
  padding-bottom: 50px;

  .pf-info4__title {
    color: $pf-color-terciary;
    font-weight: $pf-semibold;
    font-size: 1.5rem;
  }

  .pf-info4__subtitle {
    color: $pf-color-primary;
    font-weight: $pf-semibold;
    font-size: 3.5rem;
  }

  .pf-info4__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .pf-container__info {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .pf-info__text {
        color: $pf-color-primary;
        font-size: 1.5rem;
        font-weight: $pf-semibold;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
      }

      .pf-info__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 25px;

        .pf-buttons__title {
          color: $pf-color-terciary;
          font-size: 3.5rem;
          font-weight: bold;
        }

        .pf-button-primary {
          min-width: 300px;
        }
      }
    }

    .pf-container__img {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;
      img {
        width: 80%;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    text-align: center;
    .pf-info4__container {
      .pf-container__info {
        width: 100%;

        justify-content: center;
        align-items: center;

        .pf-container__info {
          > p {
            text-align: justify;
          }
        }
      }

      .pf-container__img {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    background-position: top;
  }
}
