.pf-info4 {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0px 100px;
  background-image: url("../../../Img/common/header.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans";
  padding-bottom: 50px; }
  .pf-info4 .pf-info4__title {
    color: #24BFA3;
    font-weight: 600;
    font-size: 1.5rem; }
  .pf-info4 .pf-info4__subtitle {
    color: #2E5056;
    font-weight: 600;
    font-size: 3.5rem; }
  .pf-info4 .pf-info4__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; }
    .pf-info4 .pf-info4__container .pf-container__info {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
      .pf-info4 .pf-info4__container .pf-container__info .pf-info__text {
        color: #2E5056;
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px; }
      .pf-info4 .pf-info4__container .pf-container__info .pf-info__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 25px; }
        .pf-info4 .pf-info4__container .pf-container__info .pf-info__buttons .pf-buttons__title {
          color: #24BFA3;
          font-size: 3.5rem;
          font-weight: bold; }
        .pf-info4 .pf-info4__container .pf-container__info .pf-info__buttons .pf-button-primary {
          min-width: 300px; }
    .pf-info4 .pf-info4__container .pf-container__img {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%; }
      .pf-info4 .pf-info4__container .pf-container__img img {
        width: 80%; }
  @media screen and (max-width: 1024px) {
    .pf-info4 {
      text-align: center; }
      .pf-info4 .pf-info4__container .pf-container__info {
        width: 100%;
        justify-content: center;
        align-items: center; }
        .pf-info4 .pf-info4__container .pf-container__info .pf-container__info > p {
          text-align: justify; }
      .pf-info4 .pf-info4__container .pf-container__img {
        display: none; } }
  @media screen and (max-width: 768px) {
    .pf-info4 {
      background-position: top; } }
