@import "../../../_scss/variables/variables";

.pf-nav {
  width: 100%;
  //background-image: url('../../../Img/common/header.png');
  // background-color: lightblue;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  font-family: "Open Sans";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 65px;
  padding-left: 90px;
  padding-right: 30px;
  text-align: center;

  .pf-nav__logo {
    position: absolute;
    top: -5px;
    left: 0;
    width: 90px;
    cursor: pointer;
  }

  .pf-nav__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pf-container__desplegable{
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      > img{
        width: 30px;
        height: 30px;
      }
    }

    .pf-container__menu {
      width: auto;
      font-size: 1.5rem;
      font-weight: $pf-semibold;
      display: flex;
      list-style: none;
      gap: 20px;
      margin-left: 60px;

      .pf-menu__item {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        > a {
          width: 100%;
          padding: 5px 20px;
          color: $pf-color-primary;
          font-weight: $pf-semibold;
          text-decoration: none;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1.5px;
            background: $pf-color-terciary;
            z-index: 9999;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
          }

          &:hover {
            font-weight: bold;
            &::after {
              transform: scale(1);
            }
          }
        }
      }
    }

    .pf-container__auth {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;

      .pf-auth__buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .pf-auth__login {
          color: $pf-color-primary;
          font-weight: $pf-semibold;
          font-size: 1.5rem;
          text-decoration: none;
  
          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    .pf-container__cart {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 6px 4px 7px;
      
      &:hover{
        background-color: $pf-color-light-gray;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  @media screen and (max-width:1024px) {
    padding: 10px;

    .pf-nav__container{

      .pf-container__menu {
        gap: 0px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .pf-nav__container{
      justify-content: flex-end;
      gap: 10px;
      

      .pf-container__desplegable{
        display: block;
      }
      .pf-container__menu{
        display: none;

        &.show{
          display: block;
        }
      }

      .pf-container__auth{
        display: none;
        &.show{
          display: block;
        }
      }
    }
  }
}

.pf-nav__desplegable{
  display: none;
  background-color: $pf-color-light-gray;
  padding: 20px;
  font-family: 'Open Sans';
  font-size: 1.5rem;
  
  &.show{
    display: block;
  }

  .pf-container__menu{
    list-style: none;
    margin-bottom: 20px;

    .pf-menu__item{
      padding: 20px 10px;
      border-top: 1px solid $pf-color-gray;

      &:first-child{
        border: none;
        padding-top: 0px;
      }

      > a{
        color: $pf-color-primary;
        font-weight: $pf-semibold;
      }
    }
  }
}
