.pf-nav {
  width: 100%;
  background-image: url("../../../Img/common/header.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  font-family: "Open Sans";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 65px;
  padding-left: 90px;
  padding-right: 30px;
  text-align: center; }
  .pf-nav .pf-nav__logo {
    position: absolute;
    top: -5px;
    left: 0;
    width: 90px;
    cursor: pointer; }
  .pf-nav .pf-nav__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .pf-nav .pf-nav__container .pf-container__subcontainer {
      display: block; }
    .pf-nav .pf-nav__container .pf-container__logged {
      display: flex;
      align-items: center;
      justify-content: center; }
    .pf-nav .pf-nav__container .pf-container__desplegable {
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .pf-nav .pf-nav__container .pf-container__desplegable > img {
        width: 30px;
        height: 30px; }
    .pf-nav .pf-nav__container .pf-container__menu {
      width: auto;
      font-size: 1.5rem;
      font-weight: 600;
      display: flex;
      list-style: none;
      gap: 20px;
      margin-left: 60px; }
      .pf-nav .pf-nav__container .pf-container__menu .pf-menu__item {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center; }
        .pf-nav .pf-nav__container .pf-container__menu .pf-menu__item > a {
          width: 100%;
          padding: 5px 20px;
          color: #2E5056;
          font-weight: 600;
          text-decoration: none;
          position: relative; }
          .pf-nav .pf-nav__container .pf-container__menu .pf-menu__item > a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1.5px;
            background: #24BFA3;
            z-index: 9999;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease-in-out; }
          .pf-nav .pf-nav__container .pf-container__menu .pf-menu__item > a:hover {
            font-weight: bold; }
            .pf-nav .pf-nav__container .pf-container__menu .pf-menu__item > a:hover::after {
              transform: scale(1); }
    .pf-nav .pf-nav__container .pf-container__auth {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px; }
      .pf-nav .pf-nav__container .pf-container__auth .pf-auth__icon {
        width: 30px;
        height: 30px; }
      .pf-nav .pf-nav__container .pf-container__auth .pf-auth__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px; }
        .pf-nav .pf-nav__container .pf-container__auth .pf-auth__buttons .pf-auth__login {
          color: #2E5056;
          font-weight: 600;
          font-size: 1.5rem;
          text-decoration: none; }
          .pf-nav .pf-nav__container .pf-container__auth .pf-auth__buttons .pf-auth__login:hover {
            font-weight: bold; }
    .pf-nav .pf-nav__container .pf-container__cart {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 6px 4px 7px; }
      .pf-nav .pf-nav__container .pf-container__cart:hover {
        background-color: #F5F5F5; }
      .pf-nav .pf-nav__container .pf-container__cart img {
        width: 30px;
        height: 30px; }
  @media screen and (max-width: 1024px) {
    .pf-nav {
      padding: 10px; }
      .pf-nav .pf-nav__container .pf-container__menu {
        gap: 0px; } }
  @media screen and (max-width: 767px) {
    .pf-nav .pf-nav__container {
      justify-content: flex-end;
      gap: 10px; }
      .pf-nav .pf-nav__container .pf-container__desplegable {
        display: block; }
      .pf-nav .pf-nav__container .pf-container__menu {
        display: none; }
        .pf-nav .pf-nav__container .pf-container__menu.show {
          display: block; }
      .pf-nav .pf-nav__container .pf-container__auth {
        display: none; }
        .pf-nav .pf-nav__container .pf-container__auth.show {
          display: block; } }

.pf-nav__desplegable {
  display: none;
  background-color: #F5F5F5;
  padding: 20px;
  font-family: "Open Sans";
  font-size: 1.5rem;
  position: relative;
  z-index: 9999; }
  .pf-nav__desplegable.show {
    display: block; }
  .pf-nav__desplegable::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #F5F5F5;
    position: absolute;
    top: -9px;
    right: 63px;
    transform: rotate(45deg);
    z-index: 0; }
  @media screen and (min-width: 767px) {
    .pf-nav__desplegable.show {
      display: none; } }
  .pf-nav__desplegable .pf-container__menu {
    list-style: none;
    margin-bottom: 20px; }
    .pf-nav__desplegable .pf-container__menu .pf-menu__item {
      padding: 20px 10px;
      border-top: 1px solid #D4D4D4; }
      .pf-nav__desplegable .pf-container__menu .pf-menu__item:first-child {
        border: none;
        padding-top: 0px; }
      .pf-nav__desplegable .pf-container__menu .pf-menu__item:last-child {
        border-bottom: 1px solid #D4D4D4; }
      .pf-nav__desplegable .pf-container__menu .pf-menu__item > a {
        color: #2E5056;
        font-weight: 600; }
  .pf-nav__desplegable .pf-container__auth {
    width: 100%;
    padding: 10px; }
    .pf-nav__desplegable .pf-container__auth .pf-auth__logged {
      width: 100%;
      margin-top: 20px; }
      .pf-nav__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px; }
        .pf-nav__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu .pf-menu__item > a {
          text-decoration: none;
          font-weight: 600;
          color: #2E5056;
          font-size: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px; }
          .pf-nav__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu .pf-menu__item > a > img {
            width: 20px;
            height: 20px; }
        .pf-nav__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu .pf-menu__item:first-child {
          font-size: 1.8rem;
          font-weight: bold;
          color: #2E5056; }
    .pf-nav__desplegable .pf-container__auth .pf-auth__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .pf-nav__desplegable .pf-container__auth .pf-auth__buttons .pf-auth__login {
        margin-bottom: 5px;
        font-weight: 600;
        color: #2E5056;
        text-decoration: none; }
