@import "../../../_scss/variables/variables";


@import "../../../_scss/variables/variables";
.pf-modal-sign-in {
  background-color: rgba(164, 226, 219, 0.25);
  backdrop-filter: blur(14px);
  text-align: center;
  font-family: "Open Sans";

  .modal-dialog {

    @media (min-width:576px) {
        max-width: 600px;
    }
    .modal-content {
      position: relative;
      border-radius: 15px;
      box-shadow: 0 3px 6px $pf-color-gray;
      border: none;
      background-color: white;

      .pf-modal-sign-in__close {
        content: "";
        background-image: url("../../../Img/icons/icon-close-gray.svg");
        background-size: 100% 100%;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        z-index: 999;
      }

      .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0px;

        .pf-modal-sign-in__title {
          color: $pf-color-primary;
          font-weight: bold;
          font-size: 2.5rem;
          margin-bottom: 50px;
        }

        .pf-modal-sign-in__form {
          width: 85%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 30px;

          > .form-group {
            width: 85%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;

            > span {
                > a {
                    color: $pf-color-terciary;
                    font-weight: $pf-semibold;
                    font-size: 1.2rem;
                }
            }

            .pf-form__select{
                height: fit-content;
                color: $pf-color-secondary;
            }

            > .form-control {
              font-size: 1.5rem;
              border: none;
              border-bottom: 1px solid $pf-color-light-gray;

              &:focus {
                border: none;
                border-bottom: 1.5px solid $pf-color-gray;
                outline: 0;
                box-shadow: none;
              }
            }
          }

          .pf-form__submit {
            color: #f2f2f2;
            font-size: 1.8rem;
            background-color: $pf-color-terciary;
            border: none;
            outline: none;
            border-radius: 35px;
            padding: 10px;
            width: 280px;
            font-weight: bold;
            cursor: pointer;
            &:hover{
                background-color: $pf-color-primary;
            }
          }
        }

        .pf-modal-sign-in__login{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            > span {
                color: $pf-color-gray;
                font-size: 1.2rem;
                margin-bottom: 4px;
            }

            > a {
                color: $pf-color-terciary;
                font-size: 1.2rem;
                font-weight: $pf-semibold;
                
            }

        }
      }
    }
  }
}
