.pf-button-primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Open Sans";
  outline: none !important;
  border: none;
  padding: 7px 30px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border: 1px solid #2E5056;
}

.pf-button-primary .pf-button-primary__text {
  text-decoration: none;
  font-weight: bold;
  color: #2E5056;
  font-size: 1.5rem;
}

.pf-button-primary:hover {
  background-color: #2E5056;
}

.pf-button-primary:hover .pf-button-primary__text {
  color: white;
}

.pf-button-primary--fill {
  background-color: #24BFA3;
  border: none;
}

.pf-button-primary--fill .pf-button-primary__text {
  color: #2E5056;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.8rem;
}
.b2b-collection {
  padding: 10px;
  overflow-x: hidden;
  margin: 20px 0;
}

.b2b-collection .b2b-collection-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0 20px;
}

.b2b-collection .b2b-collection-header .b2b-collection-title {
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.b2b-collection .b2b-collection-header .b2b-collection-link {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a3a3a;
  text-align: right;
  text-decoration: underline;
}

.b2b-collection .b2b-collection-wrapper {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a7a white;
}

.b2b-collection .b2b-collection-wrapper::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}

.b2b-collection .b2b-collection-wrapper::-webkit-scrollbar-track {
  background: transparent;
  height: 6px;
}

.b2b-collection .b2b-collection-wrapper::-webkit-scrollbar-thumb {
  background-color: #3a3a3a7a;
  opacity: .6;
  border-radius: 20px;
  border: 3px solid transparent;
  height: 6px;
}

.b2b-collection .b2b-collection-wrapper .b2b-collection-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
}

.b2b-collection .b2b-collection-wrapper .b2b-collection-row .b2b-collection-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.b2b-collection .b2b-collection-wrapper .b2b-collection-row .b2b-collection-item a,
.b2b-collection .b2b-collection-wrapper .b2b-collection-row .b2b-collection-item a:hover,
.b2b-collection .b2b-collection-wrapper .b2b-collection-row .b2b-collection-item a:visited {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.b2b-collection .b2b-collection-wrapper .b2b-collection-row .b2b-collection-item img {
  height: 161px;
  width: auto;
}

.b2b-collection .b2b-collection-wrapper .b2b-collection-row .b2b-collection-item .b2b-collection-text {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  padding: 10px 0;
}
.pf-footer {
  text-align: center;
  font-family: "Open Sans";
  width: 100%;
  padding-top: 30px;
  padding: 30px 15px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("../Img/common/pf-fondo-footer.webp");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
}

.pf-footer .pf-footer__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-footer .pf-footer__container .pf-container__title {
  font-weight: 600;
  font-size: 1.8rem;
  color: #24BFA3;
}

.pf-footer .pf-footer__container .pf-container__subtitle {
  font-weight: bold;
  color: #f2f2f2;
  font-size: 3rem;
  margin-bottom: 20px;
}

.pf-footer .pf-footer__nav {
  margin-top: 20px;
  width: 100%;
  min-height: 65px;
  position: relative;
  padding-left: 90px;
  padding-right: 30px;
  gap: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pf-footer .pf-footer__nav .pf-nav__logo {
  position: absolute;
  top: -6px;
  left: 0;
  width: 90px;
  cursor: pointer;
}

.pf-footer .pf-footer__nav .pf-container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.pf-footer .pf-footer__nav .pf-container__menu .pf-menu__item {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-footer .pf-footer__nav .pf-container__menu .pf-menu__item > a {
  width: 100%;
  padding: 5px 20px;
  color: #f2f2f2;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
}

.pf-footer .pf-footer__nav .pf-container__menu .pf-menu__item > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #f2f2f2;
  z-index: 9999;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.pf-footer .pf-footer__nav .pf-container__menu .pf-menu__item > a:hover {
  font-weight: bold;
}

.pf-footer .pf-footer__nav .pf-container__menu .pf-menu__item > a:hover::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.pf-footer .pf-footer__nav .pf-container__snetworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.pf-footer .pf-footer__nav .pf-container__snetworks img {
  width: 25px;
  height: 25px;
}

.pf-footer .pf-footer__policy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #f2f2f2;
  padding: 20px 30px;
}

.pf-footer .pf-footer__policy > div {
  font-size: 1rem;
  font-weight: 300;
}

.pf-footer .pf-footer__policy .pf-policy__list {
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
}

.pf-footer .pf-footer__policy .pf-policy__list .pf-list__item {
  font-size: 1.5rem;
  font-weight: 600;
}

.pf-footer .pf-footer__policy .pf-policy__list .pf-list__item > a {
  color: #f2f2f2;
}

.pf-footer .pf-footer__policy .pf-policy__idioms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.pf-footer .pf-footer__policy .pf-policy__idioms .pf-idioms__item {
  font-size: 1.5rem;
  font-weight: 600;
}

.pf-footer .pf-footer__policy .pf-policy__idioms .pf-idioms__item > a {
  color: #f2f2f2;
}

@media screen and (max-width: 800px) {
  .pf-footer .pf-footer__nav {
    gap: 50px;
  }

  .pf-footer .pf-footer__policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
  }

  .pf-footer .pf-footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 30px;
  }

  .pf-footer .pf-footer__nav .pf-nav__logo {
    display: none;
  }

  .pf-footer .pf-footer__nav .pf-container__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.pf-footer-bussiness {
  text-align: center;
  font-family: "Open Sans";
  width: 100%;
  padding: 20px 15px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("../Img/common/pf-fondo-footer.webp");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
}

.pf-footer-bussiness .pf-footer-bussiness__nav {
  width: 100%;
  min-height: 65px;
  position: relative;
  padding-left: 90px;
  padding-right: 30px;
  gap: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pf-footer-bussiness .pf-footer-bussiness__nav .pf-nav__logo {
  position: absolute;
  top: -6px;
  left: 0;
  width: 90px;
  cursor: pointer;
}

.pf-footer-bussiness .pf-footer-bussiness__nav .pf-container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.pf-footer-bussiness .pf-footer-bussiness__nav .pf-container__menu .pf-menu__item {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-footer-bussiness .pf-footer-bussiness__nav .pf-container__menu .pf-menu__item > a {
  width: 100%;
  padding: 5px 20px;
  color: #f2f2f2;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
}

.pf-footer-bussiness .pf-footer-bussiness__nav .pf-container__menu .pf-menu__item > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #f2f2f2;
  z-index: 9999;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.pf-footer-bussiness .pf-footer-bussiness__nav .pf-container__menu .pf-menu__item > a:hover {
  font-weight: bold;
}

.pf-footer-bussiness .pf-footer-bussiness__nav .pf-container__menu .pf-menu__item > a:hover::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.pf-footer-bussiness .pf-footer-bussiness__nav .pf-container__snetworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.pf-footer-bussiness .pf-footer-bussiness__nav .pf-container__snetworks img {
  width: 25px;
  height: 25px;
}

.pf-footer-bussiness .pf-footer-bussiness__policy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #f2f2f2;
  padding: 20px 30px;
}

.pf-footer-bussiness .pf-footer-bussiness__policy > div {
  font-size: 1rem;
  font-weight: 300;
}

.pf-footer-bussiness .pf-footer-bussiness__policy .pf-policy__list {
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
}

.pf-footer-bussiness .pf-footer-bussiness__policy .pf-policy__list .pf-list__item {
  font-size: 1.5rem;
  font-weight: 600;
}

.pf-footer-bussiness .pf-footer-bussiness__policy .pf-policy__list .pf-list__item > a {
  color: #f2f2f2;
}

.pf-footer-bussiness .pf-footer-bussiness__policy .pf-policy__idioms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.pf-footer-bussiness .pf-footer-bussiness__policy .pf-policy__idioms .pf-idioms__item {
  font-size: 1.5rem;
  font-weight: 600;
}

.pf-footer-bussiness .pf-footer-bussiness__policy .pf-policy__idioms .pf-idioms__item > a {
  color: #f2f2f2;
}

@media screen and (max-width: 800px) {
  .pf-footer-bussiness .pf-footer-bussiness__policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
  }

  .pf-footer-bussiness .pf-footer-bussiness__nav {
    gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 30px;
  }

  .pf-footer-bussiness .pf-footer-bussiness__nav .pf-nav__logo {
    display: none;
  }

  .pf-footer-bussiness .pf-footer-bussiness__nav .pf-container__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.pf-info2 {
  width: 100%;
  background-color: white;
  font-family: "Open Sans";
}

.pf-info2 .pf-info2__title {
  font-size: 1.5rem;
  color: #24BFA3;
  font-weight: 600;
}

.pf-info2 .pf-info2__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pf-info2 .pf-info2__subtitle .pf-subtitle__text {
  font-size: 3.5rem;
  font-weight: 600;
  color: #2E5056;
}

.pf-info2 .pf-info2__subtitle > a {
  font-size: 1.5rem;
  color: #24BFA3;
  font-weight: 300;
  text-decoration: none;
}

.pf-info2 .pf-info2__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 30px;
}

.pf-info2 .pf-info2__container .pf-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-info2 .pf-info2__container .pf-container__item a {
  text-decoration: none;
}

.pf-info2 .pf-info2__container .pf-container__item a img {
  max-width: 180px;
}

.pf-info2 .pf-info2__container .pf-container__item a .pf-item__text {
  text-decoration: none;
  font-size: 1.5rem;
  color: #2E5056;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .pf-info2 .pf-info2__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}
.pf-info3 {
  width: 100%;
  height: auto;
  font-family: "Open Sans";
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pf-info3 .pf-info3__title {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.pf-info3 .pf-info3__container {
  width: 100%;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .pf-info3 .pf-info3__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.pf-info3 .pf-info3__container .pf-container__item img {
  max-width: 130px;
  width: auto;
  color: #D4D4D4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.pf-nav {
  width: 100%;
  background-image: url("../Img/common/header.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  font-family: "Open Sans";
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 65px;
  padding-left: 90px;
  padding-right: 30px;
  text-align: center;
}

.pf-nav .pf-nav__logo {
  position: absolute;
  top: -5px;
  left: 0;
  width: 90px;
  cursor: pointer;
}

.pf-nav .pf-nav__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pf-nav .pf-nav__container .pf-container__subcontainer {
  display: block;
}

.pf-nav .pf-nav__container .pf-container__logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-nav .pf-nav__container .pf-container__desplegable {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.pf-nav .pf-nav__container .pf-container__desplegable > img {
  width: 30px;
  height: 30px;
}

.pf-nav .pf-nav__container .pf-container__menu {
  width: auto;
  font-size: 1.5rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: 60px;
}

.pf-nav .pf-nav__container .pf-container__menu .pf-menu__item {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-nav .pf-nav__container .pf-container__menu .pf-menu__item > a {
  width: 100%;
  padding: 5px 20px;
  color: #2E5056;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.pf-nav .pf-nav__container .pf-container__menu .pf-menu__item > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #24BFA3;
  z-index: 9999;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.pf-nav .pf-nav__container .pf-container__menu .pf-menu__item > a:hover {
  font-weight: bold;
}

.pf-nav .pf-nav__container .pf-container__menu .pf-menu__item > a:hover::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.pf-nav .pf-nav__container .pf-container__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}

.pf-nav .pf-nav__container .pf-container__auth .pf-auth__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.pf-nav .pf-nav__container .pf-container__auth .pf-auth__options {
  display: none;
  position: absolute;
  background-color: #F5F5F5;
  top: 50px;
  right: -5px;
  width: 155px;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .pf-nav .pf-nav__container .pf-container__auth .pf-auth__options {
    display: none;
  }
}

.pf-nav .pf-nav__container .pf-container__auth .pf-auth__options .pf-options__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-nav .pf-nav__container .pf-container__auth .pf-auth__options .pf-options__menu .pf-menu__item:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2E5056;
  margin-bottom: 10px;
}

.pf-nav .pf-nav__container .pf-container__auth .pf-auth__options .pf-options__menu .pf-menu__item > a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2E5056;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 10px;
}

.pf-nav .pf-nav__container .pf-container__auth .pf-auth__options .pf-options__menu .pf-menu__item > a > img {
  width: 15px;
  height: 15px;
}

.pf-nav .pf-nav__container .pf-container__auth .pf-auth__options::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #F5F5F5;
  position: absolute;
  top: -7px;
  right: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 0;
}

.pf-nav .pf-nav__container .pf-container__auth .pf-auth__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
}

.pf-nav .pf-nav__container .pf-container__auth .pf-auth__buttons .pf-auth__login {
  color: #2E5056;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

.pf-nav .pf-nav__container .pf-container__auth .pf-auth__buttons .pf-auth__login:hover {
  font-weight: bold;
}

.pf-nav .pf-nav__container .pf-container__cart {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 7px 6px 4px 7px;
}

.pf-nav .pf-nav__container .pf-container__cart:hover {
  background-color: #F5F5F5;
}

.pf-nav .pf-nav__container .pf-container__cart img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1024px) {
  .pf-nav {
    padding: 10px;
  }

  .pf-nav .pf-nav__container .pf-container__menu {
    gap: 0px;
  }
}

@media screen and (max-width: 767px) {
  .pf-nav .pf-nav__container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 10px;
  }

  .pf-nav .pf-nav__container .pf-container__desplegable {
    display: block;
  }

  .pf-nav .pf-nav__container .pf-container__menu {
    display: none;
  }

  .pf-nav .pf-nav__container .pf-container__menu.show {
    display: block;
  }

  .pf-nav .pf-nav__container .pf-container__auth {
    display: none;
  }

  .pf-nav .pf-nav__container .pf-container__auth.show {
    display: block;
  }
}

.pf-nav__desplegable {
  display: none;
  background-color: #F5F5F5;
  padding: 20px;
  font-family: "Open Sans";
  font-size: 1.5rem;
  position: relative;
  z-index: 9999;
}

.pf-nav__desplegable.show {
  display: block;
}

.pf-nav__desplegable::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #F5F5F5;
  position: absolute;
  top: -9px;
  right: 63px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 0;
}

@media screen and (min-width: 767px) {
  .pf-nav__desplegable.show {
    display: none;
  }
}

.pf-nav__desplegable .pf-container__menu {
  list-style: none;
  margin-bottom: 20px;
}

.pf-nav__desplegable .pf-container__menu .pf-menu__item {
  padding: 20px 10px;
  border-top: 1px solid #D4D4D4;
}

.pf-nav__desplegable .pf-container__menu .pf-menu__item:first-child {
  border: none;
  padding-top: 0px;
}

.pf-nav__desplegable .pf-container__menu .pf-menu__item:last-child {
  border-bottom: 1px solid #D4D4D4;
}

.pf-nav__desplegable .pf-container__menu .pf-menu__item > a {
  color: #2E5056;
  font-weight: 600;
}

.pf-nav__desplegable .pf-container__auth {
  width: 100%;
  padding: 10px;
}

.pf-nav__desplegable .pf-container__auth .pf-auth__logged {
  width: 100%;
  margin-top: 20px;
}

.pf-nav__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

.pf-nav__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu .pf-menu__item > a {
  text-decoration: none;
  font-weight: 600;
  color: #2E5056;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.pf-nav__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu .pf-menu__item > a > img {
  width: 20px;
  height: 20px;
}

.pf-nav__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu .pf-menu__item:first-child {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2E5056;
}

.pf-nav__desplegable .pf-container__auth .pf-auth__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-nav__desplegable .pf-container__auth .pf-auth__buttons .pf-auth__login {
  margin-bottom: 5px;
  font-weight: 600;
  color: #2E5056;
  text-decoration: none;
}
.pf-nav-bussines {
  width: 100%;
  background-image: url("../Img/common/header.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  font-family: "Open Sans";
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 65px;
  padding-left: 90px;
  padding-right: 30px;
  text-align: center;
}

.pf-nav-bussines .pf-nav-bussines__logo {
  position: absolute;
  top: -5px;
  left: 0;
  width: 90px;
  cursor: pointer;
}

.pf-nav-bussines .pf-nav-bussines__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__subcontainer {
  display: block;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__desplegable {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__desplegable > img {
  width: 30px;
  height: 30px;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__menu {
  width: auto;
  font-size: 1.5rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: 60px;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__menu .pf-menu__item {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__menu .pf-menu__item > a {
  width: 100%;
  padding: 5px 20px;
  color: #2E5056;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__menu .pf-menu__item > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #24BFA3;
  z-index: 9999;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__menu .pf-menu__item > a:hover {
  font-weight: bold;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__menu .pf-menu__item > a:hover::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 50px;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__icon {
  width: 30px;
  height: 30px;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__options {
  display: none;
  position: absolute;
  background-color: #F5F5F5;
  top: 60px;
  right: 20px;
  width: 155px;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__options {
    display: none;
  }
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__options .pf-options__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__options .pf-options__menu .pf-menu__item:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2E5056;
  margin-bottom: 10px;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__options .pf-options__menu .pf-menu__item > a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2E5056;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 10px;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__options .pf-options__menu .pf-menu__item > a > img {
  width: 15px;
  height: 15px;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__options::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #F5F5F5;
  position: absolute;
  top: -7px;
  right: 9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 0;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__buttons .pf-auth__login {
  color: #2E5056;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__auth .pf-auth__buttons .pf-auth__login:hover {
  font-weight: bold;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__cart {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 7px 6px 4px 7px;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__cart:hover {
  background-color: #F5F5F5;
}

.pf-nav-bussines .pf-nav-bussines__container .pf-container__cart img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1024px) {
  .pf-nav-bussines {
    padding: 10px;
  }

  .pf-nav-bussines .pf-nav-bussines__container .pf-container__menu {
    gap: 0px;
  }
}

@media screen and (max-width: 767px) {
  .pf-nav-bussines .pf-nav-bussines__container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 10px;
  }

  .pf-nav-bussines .pf-nav-bussines__container .pf-container__desplegable {
    display: block;
  }

  .pf-nav-bussines .pf-nav-bussines__container .pf-container__menu {
    display: none;
  }

  .pf-nav-bussines .pf-nav-bussines__container .pf-container__menu.show {
    display: block;
  }

  .pf-nav-bussines .pf-nav-bussines__container .pf-container__auth {
    display: none;
  }

  .pf-nav-bussines .pf-nav-bussines__container .pf-container__auth.show {
    display: block;
  }
}

.pf-nav-bussines__desplegable {
  display: none;
  background-color: #F5F5F5;
  padding: 20px;
  font-family: "Open Sans";
  font-size: 1.5rem;
  position: relative;
  z-index: 9999;
}

.pf-nav-bussines__desplegable.show {
  display: block;
}

.pf-nav-bussines__desplegable::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #F5F5F5;
  position: absolute;
  top: -9px;
  right: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 0;
}

@media screen and (min-width: 767px) {
  .pf-nav-bussines__desplegable.show {
    display: none;
  }
}

.pf-nav-bussines__desplegable .pf-container__menu {
  list-style: none;
  margin-bottom: 20px;
}

.pf-nav-bussines__desplegable .pf-container__menu .pf-menu__item {
  padding: 20px 10px;
  border-top: 1px solid #D4D4D4;
}

.pf-nav-bussines__desplegable .pf-container__menu .pf-menu__item:first-child {
  border: none;
  padding-top: 0px;
}

.pf-nav-bussines__desplegable .pf-container__menu .pf-menu__item:last-child {
  border-bottom: 1px solid #D4D4D4;
}

.pf-nav-bussines__desplegable .pf-container__menu .pf-menu__item > a {
  color: #2E5056;
  font-weight: 600;
}

.pf-nav-bussines__desplegable .pf-container__auth {
  width: 100%;
  padding: 10px;
}

.pf-nav-bussines__desplegable .pf-container__auth .pf-auth__logged {
  width: 100%;
  margin-top: 20px;
}

.pf-nav-bussines__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

.pf-nav-bussines__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu .pf-menu__item > a {
  text-decoration: none;
  font-weight: 600;
  color: #2E5056;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.pf-nav-bussines__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu .pf-menu__item > a > img {
  width: 20px;
  height: 20px;
}

.pf-nav-bussines__desplegable .pf-container__auth .pf-auth__logged .pf-logged__menu .pf-menu__item:first-child {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2E5056;
}

.pf-nav-bussines__desplegable .pf-container__auth .pf-auth__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pf-nav-bussines__desplegable .pf-container__auth .pf-auth__buttons .pf-auth__login {
  margin-bottom: 5px;
  font-weight: 600;
  color: #2E5056;
  text-decoration: none;
}