@import "../../../_scss/variables/variables";

.pf-product {
  width: 100%;
  font-family: "Open Sans";
  margin-bottom: 100px;
  padding: 50px 100px;
  @media screen and (max-width: 1200px) {
    padding: 25px 50px;
  }

  @media screen and (max-width: 767px) {
    padding: 10px 15px;
    text-align: center;
  }

  .pf-product__title {
    font-size: 3.5rem;
    font-weight: $pf-semibold;
    color: $pf-color-primary;
    position: relative;
    margin-bottom: 45px;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -10px;
      left: 0;
      background-color: $pf-color-light-gray;
    }
  }

  .pf-product__container {
    width: 100%;

    .pf-container__general {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 50px;

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      > img {
        width: 380px;
        flex: 1;

        @media screen and (max-width: 767px) {
          width: 300px;
        }
      }

      .pf-general__data {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 70px;

        @media  screen and (max-width: 767px) {
                gap: 20px;
        }

        .pf-data__description {
          width: 100%;
          > span {
            color: $pf-color-terciary;
            font-weight: $pf-semibold;
            font-size: 1.5rem;
          }

          > p {
            margin-top: 5px;
            color: $pf-color-secondary;
            font-size: 1.5rem;
          }
        }

        .pf-data__cantidad {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 100px;

          @media screen and (max-width: 1200px) {
            margin: auto;
          }

          @media screen and (max-width: 767px) {
            gap: 15px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
          }

          .pf-cantidad__buttons {
            background-color: $pf-color-light-gray;
            border-radius: 20px;
            padding: 14px 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 25px;

            .pf-buttons__input {
              font-size: 1.3rem;
              font-weight: $pf-semibold;
            }

            > button {
              width: 15px;
              height: 15px;
              border: none;
              outline: none;
              background-color: $pf-color-light-gray;
            }

            .pf-buttons__minus {
              content: "";
              background-image: url("../../../Img/icons/icon-minus.svg");
              background-size: 100% 100%;
              background-repeat: no-repeat;
              cursor: pointer;
            }

            .pf-buttons__plus {
              content: "";
              background-image: url("../../../Img/icons/icon-plus.svg");
              background-size: 100% 100%;
              background-repeat: no-repeat;
              cursor: pointer;
            }
          }

          .pf-cantidad__precio {
            > span {
              color: $pf-color-terciary;
              font-weight: $pf-semibold;
              font-size: 1.5rem;
            }

            > p {
              color: $pf-color-secondary;
              font-weight: $pf-semibold;
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    .pf-container__informacion {
      width: 100%;
      margin-top: 50px;
      .pf-informacion__title {
        font-size: 3.5rem;
        font-weight: $pf-semibold;
        color: $pf-color-primary;
        margin-bottom: 45px;
        text-align: center;
      }

      .accordion {
        border: 2px solid $pf-color-gray;
        border-left: none;
        border-right: none;
        padding: 10px 0px;
        .card {
          border: none;
          .card-header {
            background-color: white;
            border: none;
          }

          button {
            color: $pf-color-primary;
            font-weight: $pf-semibold;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;

            &:focus {
              box-shadow: none;
            }

            > span {
              transition: transform 0.3s ease-in-out;
            }

            &[aria-expanded="false"] {
              > span {
                content: "";
                width: 25px;
                height: 25px;
                background-image: url("../../../Img/icons/chevron-down.svg");
                background-size: 100% 100%;
                background-repeat: no-repeat;
              }
            }

            &[aria-expanded="true"] {
              > span {
                content: "";
                width: 25px;
                height: 25px;
                background-image: url("../../../Img/icons/chevron-down.svg");
                background-size: 100% 100%;
                background-repeat: no-repeat;

                transform: rotate(180deg);
              }
            }
          }

          .card-body {
            .pf-body__energy {
              width: fit-content;
              margin: 0 auto;

              > p {
                font-size: 1.8rem;
              }
            }
            .pf-body__datos {
              margin: 0 auto;
              width: 60%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 0px 50px;

              @media screen and (max-width: 767px) {
                padding: 0px 20px;
                width: 100%;
              }

              ul {
                margin-top: 20px;
                margin-bottom: 20px;
                width: 100%;
                list-style: none;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-content: center;
                justify-content: center;
                grid-gap: 20px;

                @media screen and (max-width: 767px) {
                  grid-template-columns: repeat(1, 1fr);
                  > li {
                    width: 100%;
                  }
                }
                > li {
                  border-bottom: 1px solid rgba(151, 151, 151, 0.4);
                  > .form-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    text-align: left;
                    > label {
                      font-size: 1.3rem;
                      color: $pf-color-secondary;
                    }
                    > p {
                      border: none;
                      min-height: 20px;
                      font-size: 1.4rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
