<!-- Modal -->
<div 
  class="modal pf-modal-producto delete"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="display: block"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <span class="pf-modal-producto__close"></span>
      <div class="modal-body">
        <h2 class="pf-modal-producto__title">Datos del Producto</h2>

        <form class="pf-modal-producto__principal">

            <div class="pf-principal__principal row">
                <div class="pf-principal__img">
                    <img src="../../../assets/Img/dynamic/mcextreme.png" alt="Icono default">
                </div>
                <div class="pf-principal__data">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="nombre">NOMBRE DEL PRODUCTO</label>
                            <p> Grand McExtreme 1995 </p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="categoria">CATEGORIA</label>
                            <p>COCINA AMERICANA</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="precio">PRECIO</label>
                            <p>10.00 EUROS</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pf-principal__second row">
                <div class="form-group">
                    <label for="descripcion">DESCRIPCION</label>
                    <p>Envuélvete en recuerdos con la icónica Grand McExtreme 1955 y su deliciosa salsa, acompañada de
                        cebolla asada, tomate, lechuga, carne 100% vacuno y bacon.</p>
                </div>
                
            </div>
        </form>

        <div class="pf-modal-delete__confirm">
            <h3 class="pf-confirm__title">¿ESTAS SEGURO QUE QUIERES ELIMINAR ESTE PRODUCTO?</h3>

            <div class="pf-confirm__buttons">
                <a href="#">Cancelar</a>
                <a class="pf-button__confirm" href="#">Confirmar</a>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
