@import "../../../_scss/variables/variables";

.header-mantenimiento{
    width: 100%;
    height: 300px;
    content: "";
    background-image: url("../../../Img/common/cabecera.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 80px;
    
}

.pf-mantenimiento {
  font-family: "Open Sans";
  width: 100%;
  padding: 0px 100px;

  @media  screen and (max-width: 767px) {
      padding: 0px 10px;
      text-align: center;
      
  }


  .pf-mantenimiento__title {
    color: $pf-color-terciary;
    font-size: 1.5rem;
    font-weight: $pf-semibold;
  }

  .pf-mantenimiento__subtitle {
    font-size: 3.5rem;
    font-weight: $pf-semibold;
    color: $pf-color-primary;
  }

  .pf-mantenimiento__table {
    margin-top: 40px;
    margin-bottom: 100px;
    width: 100%;
    overflow: auto;
    

    .pf-table {
      font-size: 1.3rem;
      border: 1px solid $pf-color-light-gray;
      border-radius: 15px;
      padding: 5px;
      text-align: center;
      color: $pf-color-secondary;
      position: relative;

      thead {
        tr {
          th {
            color: $pf-color-terciary;
          }
        }

        th {
          border-bottom: 1px solid $pf-color-primary;
        }
      }

      .pf-table__buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .pf-buttons__trash{
          content: "";
          background-image: url("../../../Img/icons/icon-trash.svg");
          background-position: center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          cursor: pointer;
          width: 25px;
          height: 25px;
        }

        > button{
          font-weight: $pf-semibold;
          color: $pf-color-secondary;
          text-decoration: underline;
          background-color: white;
          border: none;
          font-size: 1.4rem;
        }
      }


    }

    .dataTables_info {
      color: $pf-color-terciary;
      font-weight: $pf-semibold;
    }

    .dataTables_length {
      margin-bottom: 15px;
      color: $pf-color-secondary;
    }

    .dataTables_wrapper{
        .dataTables_filter {
            input{
                width: 300px;
            }
        }
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button{
        
        background-color: $pf-color-terciary;
        border-radius: 50%;
        font-weight: $pf-semibold;   
        color: #f2f2f2 !important;    
        font-size: 1.4rem;

        &:hover{
            background: none;
            background-color: $pf-color-primary;
            border: 1px solid #f2f2f2 !important;
        }

        &.current{
            color: #f2f2f2 !important;
            background: none;
            background-color: $pf-color-primary;
            border: 1px solid #f2f2f2;
        }

        &.next{
            content: "";
            background-image: url("../../../Img/icons/icon-arrow2-right-blue-svg.png");
            background-size: 110% 110%;
            background-position: center;
            background-repeat: no-repeat;
            width: 35px;
            height: 35px;
            overflow: hidden;
            cursor: pointer;
            color: transparent !important;

            @media screen and (max-width: 767px) {
                display: none;
         
            }

        }
        &.previous{
            content: "";
            background-image: url("../../../Img/icons/icon-arrow2-left-blue-svg.png");
            background-size: 110% 110%;
            background-position: center;
            background-repeat: no-repeat;
            width: 35px;
            height: 35px;
            overflow: hidden;
            cursor: pointer;
            color: transparent !important;
            @media screen and (max-width: 767px) {
                display: none;
         
            }
        }
    }

    .paging_simple_numbers {
      margin-top: 15px;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      
      @media  screen and (max-width: 767px) {
          margin: 0 auto !important;
          margin-top: 20px;

          > span {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
          }
          
      }

     
    }
  }
}
