


//Colores
$pf-color-primary: #2E5056;
$pf-color-secondary: #011F26;
$pf-color-white: #F2F2F2;
$pf-color-terciary: #24BFA3;
$pf-color-cuaternary: #A4E2DB;
$pf-color-light-gray: #F5F5F5;
$pf-color-gray: #D4D4D4;

//Weight
$pf-semibold: 600;

//Sizes
$pf-big-title : 6rem;
$pf-medium-title: 4rem;
$pf-small-title: 2.5rem;
$pf-regular-font: 1.5rem;
$pf-form-font: 1.8rem;
$pf-special-font: 2rem;
$pf-special2-font: 3rem;

//Break point responsive
$pf-breakpoint-tablet: 1024px;
$pf-breakpoint-mobile: 767px;