{% extends "../../templates/template.twig" %}


{% block page %}



{% include '../../modules/atoms/nav-bussiness/nav-bussiness.twig'%}
{% include "../../modules/atoms/migas/migas.twig" %}

<div class="header-resumen">

</div>

{% include '../../modules/atoms/mantenimiento/mantenimiento.twig' %}


{% include '../../modules/atoms/footer-bussiness/footer-bussiness.twig' %}

{% endblock %} 