.pf-resumen {
  font-family: 'Open Sans';
  width: 100%;
  padding: 0px 100px; }
  .pf-resumen .pf-resumen__grafico {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 100px; }
  .pf-resumen .pf-resumen__title {
    color: #24BFA3;
    font-size: 1.5rem;
    font-weight: 600; }
  .pf-resumen .pf-resumen__subtitle {
    font-size: 3.5rem;
    font-weight: 600;
    color: #2E5056; }
  .pf-resumen .pf-resumen__table {
    margin-top: 40px;
    margin-bottom: 100px; }
