.pf-button-primary {
  width: fit-content;
  font-family: "Open Sans";
  outline: none !important;
  border: none;
  padding: 10px 40px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border: 1px solid #2E5056; }
  .pf-button-primary .pf-button-primary__text {
    text-decoration: none;
    font-weight: bold;
    color: #2E5056;
    font-size: 1.8rem; }
  .pf-button-primary:hover {
    background-color: #2E5056; }
    .pf-button-primary:hover .pf-button-primary__text {
      color: white; }

.pf-button-primary--fill {
  background-color: #24BFA3;
  border: none; }
  .pf-button-primary--fill .pf-button-primary__text {
    color: #2E5056;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.8rem; }
